runpod==1.7.0
supabase==2.6.0
python-dotenv==1.0.1
Pillow
opencv-python-headless
numpy

accelerate
diffusers
transformers
safetensors
peft
huggingface_hub

datasets
tqdm
protobuf
sentencepiece
pyyaml
